.auth__container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 100px;
}

.auth__form {
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}

.auth__form h2 {
    color: #fff;
    font-size: 2rem; /* Daha önce .login__form h2 için belirttiğiniz değer burada eksikti, düzeltildi. */
    text-align: center;
}

.auth__form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
    margin-bottom: 1rem; /* Form elemanları arasında boşluk bırakmak için */
}

.auth__form input:focus {
    outline: none;
}

.auth__btn {
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
    border: none; /* Butonun kenar çizgilerini kaldırmak için */
    padding: 0.5rem 0; /* Butona padding ekle */
    font-size: 1rem; /* Buton yazı boyutu */
    cursor: pointer; /* Buton üzerine gelindiğinde imleç */
}

.auth__form p {
    font-size: 0.9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;
}

.auth__form p a {
    color: var(--heading-color);
    text-decoration: none;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .auth__form {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 576px) {
    .auth__form {
        width: 100%;
    }
}
