
.logo-text {
    color: rgba(253,148,47,255); /* Orange color for "Limosa" */
  }
  
  .nav-link-text {
    color: rgba(33,27,50,255); /* Dark color for other links */
  }

.container-1{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #1e1930;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #1e1930;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #fbfbec;
    border-radius: 6px;
}

.name{
    margin: 0px 30px;
    padding-left: 12px;

}



.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color:#797979;
    font-size: 19px;
}

.forget-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forget-password span{
    color: #1e1930;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #fd9732;
    /*background: #1e1930;*/
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}


/* ... other styles ... */

.gender-input {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px; /* Adjust the space between the radio buttons */
    padding-left: 30px; /* Align with the rest of the input fields */
  }
  
  .gender-input p {
    margin: 0;
    color: #797979;
    font-size: 19px;
  }
  
  .gender-input label {
    display: flex;
    align-items: center;
    color: #797979;
    font-size: 19px;
    cursor: pointer;
  }
  
  .gender-input input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 8px;
    width: 20px; /* Custom size for radio buttons */
    height: 20px; /* Custom size for radio buttons */
    border: 2px solid #fd9732; /* Border color */
    border-radius: 50%; /* Round shape */
    outline: none; /* Remove focus outline */
    cursor: pointer;
  }
  
  .gender-input input[type="radio"]:checked {
    background-color: #fd9732; /* Background color when checked */
  }
  
  /* Adjust the margin for the error message */
  .error-message {
    color: #ff0000; /* Red color for error messages */
    text-align: center;
    font-size: 16px; /* Smaller font size for error messages */
  }
  
  /* ... */
  